.banner-cart {
    background-image: url("../img/earth-profile.jpg");

    position: relative;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    .cart-text {
        font-family: "Allerta", sans-serif;
        font-size: 1.2rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        color: #ffffff;
        padding: 0.5rem;
        margin: 10rem;
    }
}

.cart-article-nb {
    text-align: center;
    font-size: 2rem;
}

.cart-details_text {
    
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 10px rgb(216, 216, 216);
    border-radius: 20px;
    margin: 2rem 0.8rem;
    .cart-items {
        display: flex;
        justify-content: space-around;
        align-items: center;

        img {
            width: 200px;
            padding: 1rem;
            border-radius: 20px;
        }

        .cart-price {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 20vw;

            .price {
                font-weight: bold;
                font-size: 1rem;
            }

            input {
                width: 5vw;
                height: 2vh;
                text-align: center;
                border: none;
                background-color: #fffdfd;
            }
        }
    }
}