@import "variables";

.footer {
    background-color: $light-grey;
    color: $grey;
    height: 5rem;
    font-family: 'Segoe UI', sans-serif;
    font-size: medium;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

}