.header {
    position: relative;
    background-image: url("../img/stars.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 70vh;

    position: relative;

    .banner {
        text-align: center;

        .banner-title {
            h1 {
                font-size: 5rem;
                color: #989FB3;
                text-transform: uppercase;
                padding: 0 1.8rem;
            }
        }

        .banner-subtitle {
            h2 {
                color: #989FB3;
                font-size: 2rem;
                padding: 0 1.5rem;
            }
        }
    }

    .form {
        position: absolute;
        bottom: -18%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background-color: white;
        border-radius: 50px;
        box-shadow: 5px 5px 15px rgba(51, 51, 51, 0.5);

        label {
            font-weight: bold;
            font-size: 15px;
            padding-left: 15px; // A vérifier en responsive si je pars sur un align center sur le form au lieu du padding
        }

        .form-group {
            border-right: 0.1px solid rgb(156, 156, 156);
        }

        input {
            margin: 1rem;
            border: none;
        }

        ::placeholder {
            color: #b8b8b8;
            font-style: italic;
        }

        .submit {
            border: none;
            border-radius: 30px;
            background-color: #B2BECE;
            padding: 1rem 1.5rem;
            color: #fff;
            font-size: 18px;
            cursor: pointer;
        }
    }
}