@import "variables";

.navbar-wrapper {
    height: 5rem;
    background-color: $dark-blue;
}

.cover {
    h1 {
        color: purple;
        text-transform: uppercase;
    }

    img {
        width: 100vw;
        height: 50vh;
        object-fit: cover;
    }
}

.ship-details {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: start;

    .wrapper1 {
        flex-basis: 55%;
    }

    .wrapper2 {
        flex-basis: 45%;
    }

    img {
        height: 10rem;
        width: auto;
    }
}

.schedule {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;

    .step {
        max-width: 15%;

        img {
            height: 5rem;
            width: auto;
        }
    }

}