@import "variables";

.navbar-wrapper {
    height: 5rem;
    background-color: $dark-blue;
}

.cover {
    h1 {
        color: purple;
    }

    #cover-pic {
        width: 100%;
        height: 60vh;
        object-fit: cover;
    }
}

.ship-details {
    background-color: aqua;

    img {
        height: 10rem;
        width: auto;
    }
}