@import "variables";

.header-item {
    position: relative;

    @media screen and (max-width: 1199px) {
        font-size: 2rem;
        position: static;
        flex-direction: column;
    }

    .banner-item {
        position: relative;
    }

    .title-wrapper {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            margin: 0;
            padding: 0 2rem;

            color: white;
            background-color: rgba(0, 0, 0, 0.5);

            text-transform: uppercase;
            font-family: $font-titres;
            font-size: 4rem;
            font-weight: normal;
        }
    }

    img {
        width: 100%;
        height: 50vh;
        object-fit: cover;
    }

    .ant-picker {
        border: none;
        padding: 0;
    }

    .ant-picker-focused {
        box-shadow: none;
    }

    .form-options {
        width: 60%;
        position: absolute;
        bottom: -20%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        background-color: white;
        border-radius: 50px;
        box-shadow: 5px 5px 15px rgba(51, 51, 51, 0.5);

        flex-basis: 33.33%;

        @media screen and (min-width: 2000px) {
            bottom: -19%; // Sur les écrans de plus de 1920px, le filtre ne s'affichait pas correctement
        }

        @media screen and (max-width: 1199px) {
            flex-direction: column;
            transform: none;
            position: static;
            margin: 0 2rem;
            width: auto;
        }

        .submit {
            border: none;
            border-radius: 30px;
            background-color: #c4cbd3;
            padding: 0.8rem 1.5rem;
            color: #fff;
            font-size: 18px;
            cursor: pointer;

            &:hover {
                transform: scale(1.05);
                background-color: #B2BECE;
            }

            @media screen and (max-width: 1199px) {
                margin-top: 1rem;
            }
        }

        label {
            font-weight: 500;
            font-size: 15px;
            display: flex;
            align-items: center;
            margin-bottom: 0.8rem;
        }

        .form-group {
            position: relative;
            padding: 0 2rem;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            @media screen and (max-width: 1199px) {
                border: none;
                align-items: center;
            }

            .icon {
                position: absolute;
                left: 6px;
                top: 60%;
                transform: translateY(-50%);

                @media screen and (max-width: 1199px) {
                    left: 2px;
                    top: 63%;
                }
            }
        }

        .radio {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            @media screen and (max-width: 1199px) {
                align-items: center;
            }

        }

        input {
            border: none;

            &:focus {
                outline: none;
            }
        }

        ::placeholder {
            color: #b8b8b8;
            font-style: italic;
        }
    }
}


.ship {

    h2 {
        font-family: $font-titres;
        font-weight: normal;
        color: $dark-blue;
    }

    padding-top: 5rem;
    text-align: start;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    font-family: Segoe UI Light;
    font-size: medium;

    @media (max-width: 767px) {
        text-align: center;
        flex-direction: column;
    }

    h1 {
        font-family: $font-titres;
        font-weight: normal;
        color: $dark-blue;
    }

    .wrapper {
        flex-basis: 45%;
    }

    .ship-pictures {
        width: 45vw;
        box-shadow: 5px 5px 15px rgba(51, 51, 51, 0.5);

        img {
            width: 45vw;
            height: 50vh;
            object-fit: cover;

            @media (max-width: 767px) {
                width: 100vw;
                height: 45vh;
            }

            @media (max-width: 500px) {
                width: 100vw;
                height: 30vh;
            }
        }

        @media (max-width: 767px) {
            width: 90vw;
            margin: 0 auto;
        }
    }

    .ship-description {
        font-size: larger;

        @media (max-width: 767px) {
            font-size: normal;
            margin: 0 5%;
        }
    }

    li::marker {
        font-size: x-small;


    }
}

.schedule {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    text-align: center;
    font-family: Segoe UI Light;
    font-size: medium;

    .text-schedule {
        .steps {
            padding-top: 1rem;
            display: flex;
            justify-content: center;

            @media (max-width: 767px) {
                flex-direction: column;
                align-items: center;
            }

            .step {
                @media (min-width: 767px) {
                    max-width: 15%;
                }

                img {
                    height: 5rem;
                    width: auto;
                }
            }
        }
    }


    @media (max-width: 767px) {
        flex-direction: column;
        align-items: center;

        .step {
            max-width: 75%;

            img {
                height: 5rem;
                width: auto;
            }
        }
    }
}