@import "variables";

.navbar-container {
    backdrop-filter: blur(5px);
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    z-index: 1;

    font-family: 'Segoe UI', sans-serif;
    color: $grey;

    .logo-wrapper {
        padding-left: 1.5rem;
        cursor: pointer;

        img {
            height: 3rem;
            width: auto;

            @media (max-width: 768px) {
                height: 3rem;
            }
        }
    }

    .menu {

        ul {
            margin: 0;
            padding: 0;

            a {
                cursor: pointer;
                color: rgb(231, 231, 231);
                text-decoration: none;
                padding: 0 2rem;
                text-shadow: 1px 1px 2px black;

                &:hover {
                    text-decoration: underline;
                    color: $white;
                }
            }

            li {
                display: inline-block;
                font-size: medium;
                text-transform: capitalize;
            }
        }


        @media (max-width: 768px) {
            position: absolute;
            top: 5rem;
            right: 0;
            width: 0;
            height: calc(100vh - 5rem);
            overflow: hidden;
            transition: height 0.3s ease-in;


            &.active {
                width: 100vw;
            }

            ul {
                list-style: none;

                li {
                    background-color: $dark-blue;
                    display: block;
                }

                a {
                    display: block;
                    padding: 1rem 2rem;
                }
            }
        }
    }


    .buttons {
        padding-right: 3%;
        display: flex;
        flex-direction: row;
        align-items: center;

        .hamburger {
            display: none;

            @media (max-width: 768px) {
                display: block;
                cursor: pointer;
                font-size: 1.5rem;
                padding: 0.5rem;

                &:hover {
                    color: $white;
                }
            }
        }

        .button-profil {
            font-size: 1.5rem;
            cursor: pointer;

            &:hover {
                color: $white;
            }
        }

        .button-deconnect {
            font-size: 1.5rem;
            cursor: pointer;
            padding: 1rem;

            &:hover {
                color: $white;
            }
        }

        .button-cart {
            font-size: 1.5rem;
            cursor: pointer;
            padding-left: 1rem;
            position: relative;

            &:hover {
                color: $white;
            }

            .cart-items-count {

                position: absolute;
                top: -10px;
                right: -10px;
                background-color: rgba(166, 222, 255, 0.541);
                color: white;
                border-radius: 50%;
                width: 25px;
                height: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 16px;
                font-weight: bold;
            }
        }
    }


}