@import "variables";

.navbar-container {
    background-image: url("../img/stars.jpg");
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    font-family: 'Segoe UI', sans-serif;
    font-weight: lighter;
    color: $grey;

    .logo-wrapper {
        padding-left: 3%;
        cursor: pointer;

        img {
            height: 3rem;
            width: auto;
        }
    }

    .hamburger {
        display: none;

        @media (max-width: 600px) {
            display: block;
            cursor: pointer;
            font-size: 1rem;
        }
    }

    .menu {

        a {
            cursor: pointer;
            color: $grey;
            text-decoration: none;
            padding: 0 2rem;
        }

        a:hover {
            text-decoration: underline;
        }

        li {
            display: inline-block;
            font-size: small;
            text-transform: capitalize;
        }


        @media (max-width: 600px) {
            position: absolute;
            top: 60px;
            right: 0;
            width: 0;
            height: calc(100vh - 60px);
            overflow: hidden;
            transition: all 0.3s ease-in;

            &.active {
                width: 270px;
            }

            ul {
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    border-bottom: 1px solid #ccc;
                    display: block;
                }

                a {
                    display: block;
                    padding: 1rem 2rem;
                    color: $grey;
                    text-decoration: none;
                    transition: background-color 0.3s ease-in-out;

                    &:hover {
                        text-decoration: underline;
                    }

                    &.active {
                        background-color: #f4f4f4;
                    }
                }
            }
        }
    }

    .button {
        padding-right: 3%;
        font-size: 1rem;
        cursor: pointer;
    }
}