.helloProfil{
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1{
        font-size: 3rem;
    }
    p{
        font-size: 2rem;
    }
}

.imageHero{
    max-height: 400px;
    object-fit: cover;
    overflow: hidden;

    img {
        max-width: 100%;
      }
}