@import "variables";

body {
  overflow-x: hidden;
}

//Hero 

.hero {
  background-image: url("../img/earth-profile.jpg");
  object-fit: cover;
  text-align: center;

  img {
    max-width: 100%;
  }

  h1 {
    font-family: $font-titres;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    display: inline-block;
    color: $white;
    // background: linear-gradient(to right, rgb(48, 143, 217, 0.8), rgb(48, 143, 217, 0));
    padding: 0.5rem;
    margin: 10rem;
  }
}

// Planète bleue 

.blue-planet {
  position: absolute;
  bottom: -300px;
  right: 50px;

  img {
    max-width: 500px;
    animation: rotation 120s infinite linear;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(359deg);
    }
  }
}

// Connection

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2rem;
  font-family: 'Segoe UI';
  padding-top: 5rem;

  form {
    z-index: 1;
    width: 100%;
    padding: 2rem 0;

    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;

    width: 600px;
    margin: 0 auto;

    input[type="email"],
    input[type="password"],
    textarea {
      width: 100%;
      padding: 15px 20px;
      margin: 14px 0;
      border-radius: 20px;
      border: 1px solid rgb(223, 221, 221);
      box-sizing: border-box;

      &:focus {
        outline: none;
      }
    }

    input[type="submit"] {
      background-color: $light-blue;
      color: $white;
      padding: 10px 25px;
      border-radius: 20px;
      border: none;
      cursor: pointer;
      font-size: 1.3rem;

      &:hover {
        background: $dark-blue;
      }
    }

    ::placeholder {
      font-style: italic;
      color: #c7c7c7;
      font-family: Segoe UI Light;
      font-size: 14px;
    }

    p {
      font-size: 18px;
      color: rgb(95, 95, 95);
    }
  }
}


// Modales

.password-btn {
  margin-top: 1.5rem;
  background-color: $light-blue;
  color: $white;
  padding: 10px 25px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
}

.password-btn:hover {
  background: $dark-blue;
}

.show:active {
  transform: scale(0.9);
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 35px;
  height: 35px;
  background: #000;
  color: #fff;
  cursor: pointer;
  border: 0;
  border-radius: 50px;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(23, 55, 96, 0.6);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: 0.7s;
}

.modal {
  display: flex;
  flex-basis: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 1200px;
  height: 600px;
  margin-left: -600px;
  margin-top: -300px;
  background: #fff;
  border-radius: 20px;
  border: none;
  overflow: hidden;
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease-out;
  transform: translateY(45px);

  .image {
    flex-basis: 50%;

    img {
      max-height: 100%;
    }
  }

  // Contenu modale mdp oublié

  .content {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;

    h3 {
      font-family: $font-titres;
      font-size: 2rem;
      text-align: center;
    }

    p {
      text-align: center;
      font-family: Segoe UI Light;
    }

    .inputEmail {

      input[type="email"],
      textarea {
        width: 20rem;
        padding: 15px 20px;
        margin: 14px 0;
        border-radius: 20px;
        border: 1px solid rgb(223, 221, 221);
      }
    }
  }
}

.active {
  visibility: visible;
  opacity: 1;
}

.active+.modal {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}


// Création de compte

.account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #bef2ea;
  padding-bottom: 5rem;
  margin-top: -5rem;

  h3{
    margin-block-start: 0;
    font-family: $font-titres;
    font-size: 2rem;
    text-align: center;
  }

  p{
    text-align: center;
    font-family: Segoe UI Light;
    font-size: 1rem;
  }

  button {
    background-color: $dark-blue;

    &:hover {
      background-color: #0d2544;
    }
  }

  .box-modal {
    .content {
      input[type="email"],
      input[type="text"],
      textarea {
        width: 20rem;
        padding: 15px 20px;
        margin: 14px 0;
        border-radius: 20px;
        border: 1px solid rgb(223, 221, 221);
      }
    }
  }
}

.title-account {
  p {
    font-family: $font-titres;
    color: $dark-blue;
    font-size: 2rem;
    text-align: center;
  }
}

.wave {
  margin-top: -10rem;
  margin-bottom: -2rem;
}