@import "variables";

body {
    font-size: 62.5%;
    margin: 0 auto;
}


// Navbar

.navbar-welcome {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    display: flex;
    justify-content: space-between;

    .logo-wrapper {
        padding: 1rem;

        img {
            height: 5rem;
            width: auto;

            // Tablette
            @media only screen and (max-width: 991px) {
                height: 4rem;
            }

            // Phablet
            @media only screen and (max-width: 767px) {
                height: 4rem;
            }

            // Mobile
            @media only screen and (max-width: 575px) {
                height: 4rem;
            }
        }
    }

    .button-profile {
        font-size: 2rem;
        color: $white;
        padding: 1rem;
        cursor: pointer;
        
            // Tablette
            @media only screen and (max-width: 991px) {
                font-size: 1.5rem;
            }

            // Phablet
            @media only screen and (max-width: 767px) {
                font-size: 1.5rem;
            }

            // Mobile
            @media only screen and (max-width: 575px) {
                font-size: 1.5rem;
            }
    }

}

.container {
    margin: 0 auto;
    height: 100vh;
    overflow: hidden;
}

.welcome-video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}


// Titres
.box {
    padding-left: 5rem;
    margin-top: -5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    // Tablette
    @media only screen and (max-width: 991px) {
        height: 100vh;
        align-items: center;
        padding-left: 0;
    }

    // Phablet
    @media only screen and (max-width: 767px) {
        height: 100vh;
        align-items: center;
        padding: 1rem;
    }

    // Mobile
    @media only screen and (max-width: 575px) {
        height: 100vh;
        align-items: center;
        padding: 2rem;
    }
}

.box-title {
    h1 {
        font-family: $font-titres;
        font-size: 3rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        display: inline-block;
        color: $white;
        background: linear-gradient(to right, rgb(48, 143, 217, 0.8), rgb(48, 143, 217, 0));
        margin-block-start: 0;
        margin-block-end: 0.8rem;
        padding: 0.5rem;

        // Notebook
        @media only screen and (max-width: 1199px) {
            font-size: 2.5rem;
        }

        // Tablette
        @media only screen and (max-width: 991px) {
            font-size: 2rem;
        }

        // Phablet
        @media only screen and (max-width: 767px) {
            font-size: 2rem;
            text-align: center;
            padding: 0;
        }

        // Mobile
        @media only screen and (max-width: 575px) {
            font-size: 2rem;
            text-align: center;
            padding: 0;
        }

    }
}

.box-subtitle {
    h2 {
        font-family: $font-titres;
        font-size: 1.5rem;
        font-weight: 200;
        display: inline-block;
        color: $white;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
        margin-block-start: 0;
        margin-block-end: 2rem;
        padding: 0.5rem;

        // Tablette
        @media only screen and (max-width: 991px) {
            font-size: 1.5rem;
            background-color: rgb(0, 0, 0, 0.5);
        }

        // Phablet
        @media only screen and (max-width: 767px) {
            font-size: 1.5rem;
            background-color: rgb(0, 0, 0, 0.5);
            text-align: center;
            padding: 0;
        }

        // Mobile
        @media only screen and (max-width: 575px) {
            font-size: 1.3rem;
            background-color: rgb(0, 0, 0, 0.5);
            text-align: center;
            padding: 0;
        }

    }
}

// Bouton

.box-btn {
    font-family: $font-titres;
    font-size: 1.5rem;
    background-color: $white;
    color: $light-blue;
    display: inline-block;
    padding: 0.7rem 1.5rem 0.7rem 1.5rem;
    border: none;
    border-radius: 50px;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: $light-blue;
    color: $white;
}